<% provide(:title, 'About') %>
<h1>About WineCards</h1>
<p>WineCards is an interactice, social, wine-list! Admin users can add, edit, and delete wines. They can also monitor (and if necessary, remove) the comments that are posted by general users.</p>
