<div class="panel panel-default">
	<div class="panel-heading"><h1><%= yield(:category) %></h1>
		<div class="panel-body">
			<div class="table-hover table-responsive">
				<table class="table">
					<thead>
					</thead>
					<tbody>
						<%= render @wines %>
					</tbody>
				</table>
			</table>
		</div>
	</div>
</div>