<footer class="bs-footer">
	<div class="container">
		<ul class="footer-links">
					<li><%= link_to "About", '#' %></li>
					<li class="muted">.</li>
					<li>Page made by Joe</li>
					<li class="muted">.</li>
					<li><%= link_to 'Joe\'s Github', '#' %></li>
				</ul>
			</div>
		</div>
	</footer>
</div>